.detalhesEvento{
	box-shadow: 0px 0px 5px grey;
	padding-top: 20px;
	padding-left: 20px;
	margin-bottom: 60px;
}

.fromConvidado{
	box-shadow: 0px 0px 5px grey;
	padding-top: 20px;
	padding-left: 20px;
	padding-bottom: 10px;
	margin-bottom: 60px;
}

.tabelaConvidado{
	width:50%;
} 

.fromEvento{
	box-shadow: 0px 0px 5px grey;
	padding-top: 20px;
	padding-left:20px;
	padding-bottom: 10px;
	margin-bottom: 60px;
}

.titulo{
	background-color: #0c1ce0;
}
.botao{
	background-color: #535DE0"
}



